.card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

  .card:hover {
    transform: translateY(-5px);
  }

.card-img-top {
  height: 220px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: auto;
}
