<div class="container mt-5">

  <h2 class="fw-bold mb-4">
    🛒 Shopping Cart
  </h2>

  <div *ngIf="cartItems.length == 0" class="alert alert-warning text-center">

    Your cart is empty.

    <br><br>

    <a routerLink="/menu" class="btn btn-warning">
      Go to Menu
    </a>

  </div>

  <div *ngIf="cartItems.length > 0">

    <table class="table table-bordered align-middle">

      <thead class="table-warning">

        <tr>

          <th>Image</th>

          <th>Food</th>

          <th>Price</th>

          <th>Quantity</th>

          <th>Total</th>

          <th>Action</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let item of cartItems; let i = index">

          <td width="120">

            <img [src]="'images/' + item.imageUrl"
                 width="90"
                 class="rounded">

          </td>

          <td>

            <strong>{{ item.name }}</strong>

            <br>

            <small class="text-muted">
              {{ item.category }}
            </small>

          </td>

          <td>
            ₹{{ item.price }}
          </td>

          <td>

            <button class="btn btn-sm btn-danger me-2"
                    (click)="decrease(i)">

              -

            </button>

            <strong>{{ item.quantity }}</strong>

            <button class="btn btn-sm btn-success ms-2"
                    (click)="increase(i)">

              +

            </button>

          </td>

          <td>

            ₹{{ item.price * item.quantity }}

          </td>

          <td>

            <button class="btn btn-outline-danger btn-sm"
                    (click)="remove(i)">

              Remove

            </button>

          </td>

        </tr>

      </tbody>

    </table>

    <div class="card p-4 mt-4">

      <h5>
        Subtotal :
        <span class="float-end">
          ₹{{ getSubTotal() }}
        </span>
      </h5>

      <h5>
        Delivery :
        <span class="float-end">
          ₹{{ deliveryCharge }}
        </span>
      </h5>

      <hr>

      <h3 class="text-danger">

        Grand Total :

        <span class="float-end">

          ₹{{ getGrandTotal() }}

        </span>

      </h3>

      <a routerLink="/checkout"
         class="btn btn-success mt-3">

        Proceed to Checkout

      </a>

    </div>

  </div>

</div>
